/* Fullscreen canvas styles for Three.js */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

/* The canvas will be appended to #app and should fill the container */
canvas {
  display: block;
  width: 100%;
  height: 100%;
}
